<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="layOut.html"><img class="graficlogo" src="img/logo.jpg" alt="logo"></a>
        </div>

    </header>
    <main>
        <img src="img/web.jpg" alt="" class="mw-100">
        <nav>
            <div class="topnav" id="myTopnav">
                <a href= "zxcvbn">HOME</a>
                <a href="qwerty">BLOG</a>
                <a href="asdfg">CONTACT</a>
                <a href="dtgtt">CONTACT</a>
                <a href="asdfg">CONTACT</a>
                <a href="asdfg">CONTACT</a>
                <a href="asdfg">CONTACT</a>
                <a id= 'menu' href='#' class='icon'>&#9776;</a>
            </div>
        </nav>
        <div class="advantages_container">
            <div class="advantages">
                <div class="advantages_item">
                    <img src="img/icon.png" alt="">
                    <h2>Lorem</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, at.</p>
                    <img src="img/icon.png" alt="">
                    <h2>Lorem</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, at.</p>
                    <img src="img/icon.png" alt="">
                    <h2>Lorem</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, at.</p>
                    <img src="img/icon.png" alt="">
                    <h2>Lorem</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, at.</p>
                    <img src="img/icon.png" alt="">
                    <h2>Lorem</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, at.</p>


                </div>
            </div>

        </div>
    </main>

    <footer>
        <nav>
            <a href= "zxcvbn">HOME</a>
            <a href="qwerty">BLOG</a>
            <a href="asdfg">CONTACT</a>
            <a href="dtgtt">CONTACT</a>
            <a href="asdfg">CONTACT</a>
            <a href="asdfg">CONTACT</a>
            <a href="asdfg">CONTACT</a>
        </nav>
        <div class="logo">
            <a href="layOut.html"><img class="graficlogo" src="img/logo.jpg" alt=""></a>
        </div>
        <p>First Attempt at Writing by SUROV</p>
    </footer>



    <script src='script.js'></script>
</body>
</html>